{%- comment -%}
  Renders a stream of collection items with optional filtering, sorting, and limiting.

  Parameters:
    collection: The name of the collection to render items from (required).
    filter_key: The key in the document front matter to filter by (optional).
    filter_values: An array of values to filter the documents by (optional).
    sort_by: The key to sort the documents by (optional).
    reverse: Boolean to indicate if the sorted documents should be reversed (optional).
    excerpt_length: Length of the excerpt to display for each item (optional).
    post_display_limit: Maximum number of items to display (optional).
{%- endcomment -%}

{%- assign coll = include.collection | default: section.data.collection -%}

{%- assign filtered_coll = coll -%}
{%- if include.filter_key and include.filter_values -%}
  {%- assign key = include.filter_key -%}
  {%- assign vals = include.filter_values | array -%}

  {%- for doc in coll -%}
    {%- assign field = doc[key] -%}
    {%- if field and vals contains field or (field | join: ",") contains (vals | first) -%}
      {%- assign filtered_coll = filtered_coll | push: doc -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- assign sorted = filtered_coll -%}
{%- if include.sort_by -%}
  {%- assign sorted = sorted | sort: include.sort_by -%}
{%- endif -%}
{%- if include.reverse -%}
  {%- assign sorted = sorted | reverse -%}
{%- endif -%}

<section id="collection-stream" class="md-flow">
  {%- for item in sorted limit: include.post_display_limit -%}
    {%- include sections/collection-item.html item=item excerpt_length=include.excerpt_length -%}
  {%- endfor -%}
</section>
