{%- comment -%}
levels section

section.data expects:
  - label:            string            e.g., "Levels"
  - items:            array of level objects

Each level item shape:
  - color:    string    # level color (used by icons/level.svg)
  - label:    string    # level label, e.g., "7th Kyu"
  - level:    number    # keeps your schema for reference
  - intention:string
  - flows:    array of {label, url}
{%- endcomment -%}

{%- assign D = section.data -%}
{%- if D.items and D.items.size > 0 -%}
<section class="md-flow">
  <h2>{{ D.label }}</h2>

  {%- for lv in D.items -%}
    <br/>
    <h3>
      {% include icons/level.svg
        class="md-level-svg"
        color=lv.color
        title=lv.label %}
    </h3>

    <p><strong>{{lv.label}} - {{ lv.intention }}</strong></p>

    <ul>
      {%- for f in lv.flows -%}
        {%- if f.url | slice: 0, 1 == "/" -%}
          <li>
            <a href="{{ f.url | relative_url }}">
              {{ f.label }}
            </a>
          </li>
        {%- else -%}
          <li>
            <a href="{{ f.url }}">
              {{ f.label }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endfor -%}
</section>
{%- endif -%}
