{%- endcomment -%}
{%- assign primary_links_json = 
  '[{"label":"COMMUNITY","href":"/"},
    {"label":"PROGRAM","href":"/program"},
    {"label":"PROJECT","href":"/project"},
    {"label":"CONTACT","href":"{{site.connect_url}}","external":true}]' -%}
{%- assign secondary_links_json = 
  '[{"label":"Privacy Policy","href":"/privacy"},
    {"label":"Open Source License","href":"/LICENSE"}]' -%}

{%- assign primary_links = primary_links_json | parse_json -%}
{%- assign secondary_links = secondary_links_json | parse_json -%}

<footer>
	<nav>
		<ul role="menu">
    	{%- for item in primary_links -%}
			<li role="presentation">
        		{% include nav_item.html href=item.href label=item.label external=item.external %}
			</li>
		{%- endfor -%}
		</ul>
  	</nav>
	<nav>
		<ul role="menu">
			<li role="presentation"><p>© 2025 Mindset Dojo</p></li>
			{%- for item in secondary_links -%}
			<li role="presentation">
          		{% include nav_item.html href=item.href label=item.label %}
        	</li>
      		{%- endfor -%}
		</ul>
	</nav>
	<img src="{{'/assets/mindset-dojo-torii-gate.png' | relative_url}}" alt="Mindset Dojo Torii Gate Background Image" width="800" height="601" decoding="async" loading="lazy" sizes="(max-width: 800px) 100vw, 800px">
</footer>
<script src="{{'/assets/js/md.js' | relative_url}}"></script>
