{%- comment -%} _includes/head.html {%- endcomment -%}
<head>
  <meta charset="utf-8">

  {%- assign data = site.data[page.data_key] -%}
  {%- assign mission = site.data.mission -%}

  {%- comment -%}
    Title precedence:
      page.title → page.mantra → data.mantra → mission.mantra → site.title
  {%- endcomment -%}
  {%- assign raw_title = page.title
    | default: page.mantra
    | default: data.mantra
    | default: mission.mantra
    | default: site.title -%}

  {%- comment -%}
    Meta description precedence:
      page.description → data.description → mission.description → page.excerpt → site.description → site.title
  {%- endcomment -%}
  {%- assign raw_desc = page.description
    | default: data.description
    | default: mission.description
    | default: page.excerpt
    | default: site.description
    | default: site.title -%}
  {%- assign meta_desc = raw_desc | strip_html | strip_newlines | truncate: 160 -%}

  <title>{{ raw_title }}</title>
  <meta name="description" content="{{ meta_desc }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="max-image-preview:large">

  <link rel="preload" href="{{ '/assets/libs/google/fonts/afacad-v1-latin-700.woff2' | relative_url }}" crossorigin="anonymous" as="font" type="font/woff2">
  <link rel="preload" href="{{ '/assets/libs/google/fonts/roboto-v47-latin-regular.woff2' | relative_url }}" crossorigin="anonymous" as="font" type="font/woff2">
  <link rel="stylesheet" href="{{ '/assets/css/01-foundation.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ '/assets/css/02-baseline.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ '/assets/css/03-layout.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ '/assets/css/04-components-1-shell.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ '/assets/css/04-components-2-ui.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ '/assets/css/04-components-3-content.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ '/assets/css/05-pages.css' | relative_url }}" media="all">

  <link rel="canonical" href="{{ page.url | relative_url }}">

  <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" sizes="32x32">
  <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}" sizes="192x192">
  <link rel="apple-touch-icon" href="{{ '/assets/favicon.png' | relative_url }}">
  <meta name="msapplication-TileImage" content="{{ '/assets/favicon.png' | relative_url }}">
</head>
