<header>
    <a href="./" aria-current="page">
        <img src="./assets/mindset-dojo-logo.png" alt="Mindset Dojo Logo" width="292" height="80" decoding="async" fetchpriority="high">
    </a>
    <nav id="Menu">
        <ul role="menu">
            <li role="presentation">
                {% raw %}
                <a 
                  href="./"
                  role="menuitem"
                  {% include aria_current.html page_url="./" %} 
                >COMMUNITY</a>
                {% endraw %}
            </li>
            <li role="presentation">
                {% raw %}
                <a 
                  href="./program"
                  role="menuitem" 
                  {% include aria_current.html page_url="./program" %} 
                >PROGRAM</a>
                {% endraw %}
            </li>
        </ul>
        <button aria-label="Menu Toggle" aria-expanded="false" aria-controls="Menu" aria-haspopup="true">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </button>
    </nav>
</header>