<header>
    <a href="{{ '/' | relative_url }}">
        <img
            src="{{ '/assets/mindset-dojo-logo.png' | relative_url }}"
            alt="Mindset Dojo Logo"
            width="292" height="80"
            decoding="async"
            fetchpriority="high">
    </a>

    <nav id="Menu">
        <ul role="menu">
            {%- for item in site.header_links -%}
                <li role="presentation">
                    <a href="{{ item.href | relative_url }}" role="menuitem">{{ item.label }}</a>
                </li>
            {%- endfor -%}
        </ul>

        <button aria-label="Menu Toggle" aria-expanded="false" aria-controls="Menu" aria-haspopup="true">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </button>
    </nav>
</header>
