@layer components-content {
  /* =======================
     Lists
     ======================= */

  :where(.md-flow) dl > dt {
    text-align: center;
    font-weight: 700;
    margin-top: 1rem;
  }
}
