@layer pages {
  /* [PRIVACY] */
  #privacy h2 { text-align: left; }

  /* [404] */
  #error p {
    font-size: var(--text-xl);
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
  }

  /* [INSIGHT] */
  #insight .insights-stream h3.title,
  #insight .insights-stream p.meta,
  #insight .insights-stream div.excerpt {
    text-align: center;
  }
}
