---
layout: post
---

{{ content }}

{%- comment -%} {%- emoji_signature render code -%} {%- endcomment -%}
{% for author_slug in page.authors %}
  {% assign normalized_author_slug = author_slug | slugify %}
  {% for author in site.authors %}
    {% assign filename = author.path | split:"/" | last %}
    {% assign file_slug = filename | split:"." | first | slugify %}
    {% if file_slug == normalized_author_slug and author.emoji_signature %}
      {% include sections/markdown.html section=section content_md=author.emoji_signature %}
    {% endif %}
  {% endfor %}
{% endfor %}


{% if page.forms %}
  {% assign related_forms_id = page.slug | default: page.title | slugify | append: "-related-forms" %}
  {% include sections/collection-stream.html
    section=section
    collection="forms"
    filter_key="forms"
    filter_values=page.forms
    label="Related Forms"
    show_hr=true
    related_toggle=true
    related_toggle_id=related_forms_id
  %}
{% endif %}
