---
layout: post
---

{{ content }}

{% for author_slug in page.authors %}
    {% for author in site.authors %}
        {%- assign filename = author.path | split:"/" | last -%}
        {%- assign file_slug = filename | split:"." | first -%}
        {%- assign post_values = file_slug | split:"|" -%}
        {% if (post_values == author_slug) and author.emoji_signature %}
            {% include sections/markdown.html section=section content_md=author.emoji_signature %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if page.principles %}
    {% include sections/principles.html section=section principles_title="Related Principles" page_data=site.data.sections.principles %}
    <hr>
{% endif %}

{% if page.forms %}
    <h2>Related Forms</h2>

    {% include sections/collection-stream.html section=section collection="forms" filter_key="forms" filter_values=page.forms %}
{% endif %}