---
layout: post
---

{{ content }}

{% for slug in page.authors %}
    {% for author in site.authors %}
        {% if author.page.slug == slug and author.emoji_signature %}
            {% include sections/markdown.html content_md=emoji_signature %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if page.principles %}
    {% include sections/principles.html section=section principles_title="Related Principles" page_data=site.data.sections.principles %}
    <hr>
{% endif %}

{% if page.forms %}
    <h2>Related Forms</h2>

    {% include sections/collection-stream.html section=section collection="forms" filter_key="forms" filter_values=page.forms %}
{% endif %}