---
layout: default
---

<article class="post-article" itemscope itemtype="https://schema.org/Article">

  <p class="post-authors">
    {%- if page.authors -%}
      {% include sections/authors.html authors=page.authors %}
    {%- endif -%}
  </p>

  <header class="post-header" role="group">
    <p class="post-meta">
      {{ page.date | date: "%B %-d, %Y" }}
    </p>

    <hr>

    {% if page.excerpt %}
      <p class="post-excerpt">{{ page.excerpt }}</p>
    {% endif %}
  </header>

  <hr>

  <div class="post-body" itemprop="articleBody">
    {{ content }}
  </div>

</article>
