---
layout: default
---

<article class="post-article" itemscope itemtype="https://schema.org/Article">
    
  
  <p class="post-principles">
    {% if page.principles %}
      {% include sections/principles.html page_data=page.principles %}
    {% endif %}
  </p>

  <hr>
  
  <div class="post-body" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>

  <p class="post-forms">
    {% if page.forms %}
      {% include sections/forms.html page_data=page.forms %}
    {% endif %}
  </p>
  
  <hr>

  <p class="post-meta">
    This article was published {{ page.date | date: "%B %-d, %Y" }}
  </p>

  <hr>

  <p class="post-authors">
    {%- if page.authors -%}
      {% include sections/authors.html authors=page.authors %}
    {%- endif -%}
  </p>

</article>
